.page{
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.login-title{
  text-align: center;
}

.image-container{
  display: flex;
  width: auto;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.login-image{
  width: inherit;
  height: inherit;
}

.input-container{
  margin-top: 15px;
}

.image-label{
  margin-left: 25px;
  font-weight: bold;
  font-size: 60px;
}

.link-terms {
  font-size: xx-small;
  font: inherit;
  text-align: left;
  margin-top: 1rem;
  color: #269cfc;
  text-decoration: underline;
  cursor: pointer;
}

.suggest-text {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
}

.suggest-text-1 {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: blue;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}

.container{
  width: 80%;
  max-width: 1200px;
  height: 50%;
  margin-top: 0;
}
.container h2{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.card-container{
  display: flex;
  width: 100%;
  margin: 0;
  flex-direction: column;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 16px;
  background-color: #a7f9ffad;
  box-shadow: 0 0 10px #00a2ff8f,
              0 0 20px #00ccffa4,
              0 0 30px #00eeff94;
  align-items: center;
  justify-content: center;
}
.card-container h2{
  margin-top: 0.5rem;
}
.card-option-container{
  display: flex;
  width: 100%;
  margin: 0;
  height: fit-content;
}

.separator {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 1rem;
    width: 100%;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.separator span {
    color: #666;
    font-size: 0.9rem;
    font-weight: 600;
}