.signup-page {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.signup-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  margin-bottom: 1.5rem;
}
.signup-card{
  background-color: #d8feff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  overflow-y: auto;
  max-height: 85vh;
  padding: 2rem;
}
.signup-card-title{
  text-align: center;
  margin-bottom: 50px;
}
.signup-options-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option-card{
  background-color: rgb(255, 255, 255, 0.85);
  overflow-y: auto;
  max-height: 85vh;
  margin-right: 5px;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.option-card:hover {
  transform: scale(1.04); /* Se agranda un 4% de forma suave */
  box-shadow: 0 15px 35px rgba(0,0,0,0.22); /* Aumenta la sombra para dar sensación de elevación */
}
.option-card-image{
   display: flex;
   justify-content: center;
   align-items: center;
}
.option-card-image img{
  width: auto;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #5cf1f7eb;
}
.option-card-title{
  text-align: center;
}
.option-card-description{
  border-radius: 16px;
  text-align: center;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
}
.option-card-description p{
  margin: 0 auto;
  width: 100%;
  max-width: 40ch;
  line-height: 1.5;
}