.login-form-btn{
  background-color: #ffffff;
  border: none;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.5s ease,
  box-shadow 0.5s ease; 
}

.login-form-btn:hover{
  transform: scale(1.03);
}
.login-btn,
.signup-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  height: 45px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.login-btn {
  background-color: #139cbe;
  color: white;
  border: 2px solid #139cbe;
}

.login-btn:hover {
  background-color: #0f365e;
  box-shadow: 0 0 35px rgba(0, 191, 255, 0.678);
}

.signup-btn {
  background-color: transparent;
  color: #045b70;
  border: 2px solid #139cbe;
}

.signup-btn:hover {
  background-color: #0f365e;
  color: white;
  box-shadow: 0 0 35px rgba(0, 191, 255, 0.678);
}
.back-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4bcdee;
  min-width: 110px;
  height: 45px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.back-btn:hover{
  background-color: #3398b1 ;
  transform: scale(1.04) translateY(-5px);
  box-shadow:
    0 0 10px rgba(0, 191, 255, 0.4),
    0 0 20px rgba(123, 44, 255, 0.3),
    0 0 30px rgba(255, 0, 204, 0.2);
}
.btn-container{
  position: fixed;
  bottom: 80px;
  right: 20px;
}
.submit-btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.submit-btn{
  background-color: rgb(0, 255, 170);
  color: #ffffff;
  border: none;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    gap: 0.75rem;
}

.btn img {
    width: 20px;
    height: 20px;
}