.date-input {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.date-input select {

    text-align: center;
    width: 150px;
    padding: 0.8rem 1rem;
    background-color: white;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #2cd5ff;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.date-input select:hover {
    border-color: #2c80ff;
    box-shadow: 0 8px 20px #2c80ff5d;
}

.date-input select:focus {
    outline: none;
    box-shadow:
        0 0 0 4px #2c80ff5d,
        0 8px 20px #2c80ff5d;
}

.date-input select option {
    background-color: white;
    color: #333;
}

.date-input select:first-child {
    width: 100px;
}

.date-input select:nth-child(2) {
    width: 180px;
}

.date-input select:last-child {
    width: 120px;
}

.date-input select:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}