.field input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 50ch;
  border: none;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  font-size: 1rem;
}

.field input:focus {
  outline: none;
  border: 2px solid #6ec6ff;
  box-shadow: 0 0 8px rgba(110, 198, 255, 0.5);
}

.field-label {
  font-size: x-small;
  margin-bottom: 0.5rem;
  display: block;
  font-weight: 500;
  font-size: 0.9rem;
}

.container-show {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.container-show label {
  margin: 0;
  font: inherit;
  font-size: x-small;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9rem;
}