@media (max-width: 768px) {
  .option-card {
    width: 100%;
  }
  .container {
    width: 100%;
    max-width: calc(100% - 2rem);
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .option-card-image img {
    width: auto;
  }
  .container {
    width: 80%;
    max-width: 450px;
  }
}